/* Reset & global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  background: var(--grey-light);
  color: var(--grey-dark);
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
